<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item ">
                {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'common:logout' %}">{{ user.username }} (로그아웃)</a>
                {% else %}
                    <a class="nav-link" href="{% url 'common:login' %}">로그인</a>
                {% endif %}
            </li>
        </ul>
    </div>
    <div>
        <ul id="nav2" class="nav justify-content-center bg-light">
            <li class="nav-item">
                <a class="nav-link active" href="http://3.34.238.224/"><p class="text-dark font-weight-bold">Home</p></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://3.34.238.224/inventory/"><p class="text-dark font-weight-bold">시약 관리</p></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://3.34.238.224/consumables/"><p class="text-dark font-weight-bold">재료/소모품 관리</p></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://3.34.238.224/control/"><p class="text-dark font-weight-bold">물질 반출 관리</p></a>
            </li>
        </ul>
    </div>
</nav>
